#about {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.4%;

  line-height: 32px;
  font-family: "Courier", Courier, monospace;
  font-size: 21px;
  color: #5e5e5e;
}

.about-header {
  padding-bottom: 6%;

  color: #1b191a;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  /* animation: slide-up 1s 1s ease-out; */
}

.about-content-primary {
  font-weight: bold;
  color: #1b71a9;
}

.about-content-secondary {
  font-weight: bold;
}

.about-content-list {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 13%;
  padding-left: 13%;

  word-spacing: 200%;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #1b71a9;
}
