/* @keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */

#head {
  /* position: absolute;
  top: 18vh;
  left: 17.5vw;
  right: 17.5vw; */
  display: flex;
  flex-direction: column;
  padding-left: 17.5%;
  padding-top: 17.5%;

  font-family: "Courier New", Courier, monospace;
}

.head-title {
  font-size: 60px;
  font-weight: bold;
  color: #1b191a;

  line-height: 70px;
  letter-spacing: 0%;
}

.head-p1,
.head-p2,
.head-p3 {
  animation: slide-left 2s ease-out;
}

.head-title-name {
  color: #1b71a9;
  animation: slide-left 3s ease-out;
}

.head-desc {
  font-size: 28px;
  font-weight: bold;
  color: #a0a0a0;
}

@keyframes slide-left {
  from {
    margin-left: 5%;
    opacity: 20%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .head-title {
    font-size: 2em;
  }
}
