#head {
  display: flex;
  flex-direction: column;

  padding-top: 17.5%;
  padding-bottom: 5.4%;

  height: 45.5vh;
  font-family: Courier, monospace;
}

.head-title {
  font-size: 60px;
  font-weight: bold;
  color: #1b191a;

  line-height: 70px;
  letter-spacing: 0%;
}

.head-part,
.head-title-name {
  animation: slide-left 2s ease-out;
}

.head-title-name {
  color: #1b71a9;
}

.head-desc {
  font-size: 28px;
  font-weight: bold;
  color: #a0a0a0;
}

.head-icons {
  text-align: center;
  margin-top: 12vh;
  /* margin-bottom: 7vh; */
}

.head-icons a {
  margin: 30px;
}

.github:hover {
  fill: #1b71a9;
}

.email:hover {
  fill: #1b71a9;
}

.linkedin:hover {
  fill: #1b71a9;
}

@keyframes slide-left {
  from {
    margin-left: 5%;
    opacity: 40%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .head-title {
    font-size: 45px;
  }
}
