@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Reference Table */
:root {
  --background-color: #EDEAE7;
  --background-transparent-color: #EDEAE76C;
  --text-color: #C67979;
  --text-hover-color: #CC4E4E;
  --text-projects-color: #5172A2;
  --text-projects-hover-color: #9baec8;
  --text-about-color: #248a41;
  --text-about-hover-color: #38AD66;
}

body {
  background-color: var(--background-color);
}

.ear-cursor {
  cursor: url('../../public/ear.png'), auto;
}

@keyframes pulse {
  0%, 70%, 100% {
      opacity: calc(var(--base-opacity, 1) * 0.3);
  }
  85% {
      opacity: var(--base-opacity, 0.5);
      color: var(--text-hover-color);
  }
}

.pulsing-icon {
  --base-opacity: 1;
  animation-timing-function: ease-in-out;
}