/* Color Reference Table */
:root {
  --background-color: #FCF1E3;
  --text-color: #C67979;
  --text-hover-color: #D4BEAA;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  background-color: var(--background-color);
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color);
}