@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Reference Table */
:root {
  --background-color: #EDEAE7;
  --background-transparent-color: #EDEAE76C;
  --background-item-color: #dfe0ef;
  --text-color: #2c6861;
  --text-hover-color: #75b1aa;
  --text-projects-color: #5172A2;
  --text-projects-hover-color: #9baec8;
  --text-about-color: #125124;
  --text-about-hover-color: #38AD66;
  --text-design-color: #4e3d18;
  --text-design-hover-color: #a88c5e;
  --background-design-color: #dcd7d1;
}

body {
  background-color: var(--background-color);
}


@keyframes pulse {
  0%, 70%, 100% {
      opacity: calc(var(--base-opacity, 1) * 0.3);
  }
  85% {
      opacity: var(--base-opacity, 0.5);
      color: var(--text-hover-color);
  }
}

.pulsing-icon {
  --base-opacity: 1;
  animation-timing-function: ease-in-out;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-in-slow {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.transparent-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}